
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("../img/vigne1.jpg");
    background-clip: padding-box;
    width : 100%;
    height: 100%;

    /* Full height */

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;

}
/*.panel-heading img{*/
    /*!*height: 100%;*!*/
    /*!*width: 100%;*!*/
    /*!*object-fit: contain;*!*/
    /*width: 200px;*/
    /*height: auto;*/
    /*object-fit: cover;*/
/*}*/

.panel-heading{
    position: relative;
    width: 100%;
    height: 220px;
    overflow: hidden;
}
.panel-heading img {
    position: absolute;
    padding: 10px;
    left: 50%;
    top: 50%;
    height: 110%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.filter {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}
.label-default {
    line-height: 5%;
}


.panel-default {
    border-radius: 15px;
}

.desc-prod{
    height: 150px;
    overflow: hidden;

}

.desc-prod p{
    overflow: hidden;
}

.active img {
    overflow: hidden;

}
